.container{
    margin-bottom: 20px;
}
.orange-bg{ 
    background-color: rgba(60, 255, 0, 0.301);
    border-radius: 8px;
    box-shadow: 0.01px 0.01px 1px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: rgb(21, 16, 63);
}
.buy-now-button{
    border: none;
    padding: 15px 45px;
    background-image: linear-gradient(to right, #3CA55C 0%, #B5AC49  51%, #3CA55C  100%);
    margin: 10px;
    background-size: 200% auto;
    color: white;            
    box-shadow: 5px 2px 20px rgb(128, 8, 8);
    border-radius: 10px;
    transition: 0.5s;
}
.buy-now-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

.cat1{
    background-color: aqua;
}
.cat2{
    background-color: darkmagenta;
}
.cat3{
    background-color: violet;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px gray;
}
.cat1:hover{
    box-shadow: 5px 5px 10px #1e1c86;
} 
.cat2:hover{
    box-shadow: 5px 5px 10px #1e1c86;
} 
.cat3:hover{
    box-shadow: 5px 5px 10px #1e1c86;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    background-image:  linear-gradient(to right, #34b35a46 0%, #14bba53d  51%, #1f3f2938  100%);
    box-shadow: 5px 5px 10px;
}
.card-footer{
    border-top: none;
}
#subscribe{
    height: 300px;
}
footer{
    text-align: center;
}